<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Champions Manager</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(to right, #1a2a4d, #87ceeb); /* Blue to sky blue */
            color: #ffffff; /* White */
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 70vh;
        }

	img {
	    justify-content: center;
	    width: 20%;
	}

        h1 {
            color: #ffcc00; /* Gold */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        p {
            margin: 10px 0;
            color: #ffffff; /* White */
        }

        a {
            text-decoration: none;
            color: #ffcc00; /* Gold */
            padding: 15px 30px; 
            border: 2px solid #ffcc00; /* Gold */
            border-radius: 5px;
            font-size: 1.2em; 
            margin: 10px 0; 
            transition: background 0.3s, color 0.3s;
            display: inline-block;
        }

        a:hover {
            background-color: #ffcc00; /* Gold */
            color: #0e1e3a; /* Dark blue*/
        }

        .button-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer {
            position: absolute;
            bottom: 20px;
            font-size: 0.8em;
            color: #888888;
        }
    </style>
</head>
<body>
    <img src="/images/League-of-Legends-Logo.png" alt="LOL-logo"/>
    <h1>Welcome to the Favorite Champions Manager</h1>
    <div class="button-group">
        <% if (typeof userId !== 'undefined') { %>
            <p>Hello, <%= username %>!</p>
            <p><a href="/favorites">View Favorites</a></p>
            <p><a href="/logout">Logout</a></p>
        <% } else { %>
            <p><a href="/register">Register</a></p>
            <p><a href="/login">Login</a></p>
        <% } %>
    </div>
    <div class="footer">
        <p>&copy; 2024 Favorite Champions Manager. All rights reserved for COMPS381F Project Group 3.</p>
    </div>
</body>
</html>
